/**
 * Part of Fonto Framework
 */

.fontoContainer {
	margin: 0 auto;
	width: 960px;
	border-radius: 4px;
}

.fontoContainer header {
	border-bottom: 1px solid #ddd;
}

.fontoContainer section {
	margin-top: 10px;
}

.title {
	font-size: 16px;
	color: #005b66;
}

.post {
	width: 400px;
}

.user {
	color: #02a5b8;
}

.headLine {
	font-size: 24px;
	color: #796a06;
}

.error {
	color: #ef0022;
}